/* CSS stillerinizi buraya girin */
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  margin-left: 3%;
}

nav a {
  padding: 10px 10px;
  background-color: blueviolet;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: blueviolet;
  background-color: white;
}

main div.main-img {
  width: 80vw;
  height: 50vw;
  margin: 0 auto;
  background-image: url("https://picsum.photos/seed/picsum/600/400");
  background-size: cover;
  background-position: 40% 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main a,
footer a {
  padding: 10px 10px;
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

main a:hover,
footer a:hover {
  color: blue;
  background-color: white;
  border: 1px dashed blue;
}

main {
  margin: 3vw;
}

#projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#projects div {
  display: inline-block;
  width: 30%;
  text-align: center;
}

#projects div img {
  width: 85%;
  margin: 0 auto;
}

footer {
  background-color: #7aadff;
  text-align: center;
  padding: 50px;
}
